body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient( #47a8bd, #FFFFFF);
    height: 100vh;
    overflow: hidden;
}

.form{width:750px;height:450px;background:#ffffff;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}

input{width:30%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}

input:focus{border-bottom:2px solid #78788c}

.searching{
    text-align: center;
    position: relative;
    top: 340px; right: 150px;
    padding:8px 4px;background:#47a8bd;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #47a8bd;border-radius:10px;color:#47a8bd;cursor:pointer;transition:all .3s}


    p:before{text-align: center; content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}


.barresearch{
    position: relative;
    top: 28px; left: 35px;
}

.catego{
    position: relative;
    top: 75px; left: 195px;
}


.search:hover{background:#ffffff;color:#47a8bd} 

