.row-bienvenue{
    width: 100%;
    background-image: url("../image/article-wp.jpeg");
    background-size: 1600px;
    display: inline-block;
    height: 200px;
    text-align: center;
    text-decoration: underline;

}
.row-bienvenue h1{
    text-align: center;
    padding-top: 25px;
}
.wrapper-article{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.wrapper-article .article{
    border: solid black 2px;
    width: 250px;
    height: 300px;
}
.wrapper-article .article .row-td{
    width: 100%;
    height: 20px;
    background-color: black;
    text-align: left;
    color: #6f686D;
}
.wrapper-article .article .row-desc{
    width: 100%;
    height: auto;
    background-color: #6f686d;
    text-align: left;
    color: black;
}
.wrapper-article .article .row-ncat{
    width: 100%;
    height: auto;
    background-color: white;
    text-align: left;
    color: black;
}